*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: unset;
  text-decoration: none;
}

body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ------------------------------------------ */
/*                 Nav                        */
/* ------------------------------------------ */

nav {
  display: flex;
  padding: 0 40px;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid darkgray;
}

nav .nav-div {
  display: flex;
}

.nav-div *{
  margin-left: 30px;
  color: rgb(97, 95, 95);
}

.brand {
  color: rgb(8, 248, 80);
}

.nav-div *:hover{
  cursor: pointer;
  color: rgb(48, 47, 47);
}

/* -------------------- */
/* ------- main ------- */
/* -------------------- */

.main {
  min-height: 83vh;
  padding: 20px 30vw;
}

.main h2{
  margin-bottom: 15px;
  color:rgb(95, 95, 95);
}

/* -------------------- */
/* ------ footer ------ */
/* -------------------- */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  border-top: 1px solid darkgray;
}

/* -------------------- */
/* ------- card ------- */
/* -------------------- */

.card {
  height: 4em;
  width: 40vw;
  display: flex;
  margin-bottom: 18px;
}

.card:hover .img{
  background-color:rgb(8, 248, 80);
}

.card:hover{
  cursor: pointer;
}

.card-div{
  display: flex;
  flex-direction: column-reverse; 
}

.card div{
  height: 100%;
}

.card .img {
  width: 4px;
  background-color:rgb(149, 151, 150);
  background-color: rgb(205, 224, 206);
  margin-right: 15px;
  transition: background-color 0.5s;
}

.card-details {
  margin-right: 8px;
  width: 17vw;
}

.card-details-title {
  display: inline-block;
  width: 65px;
  font-weight: 500;
  color: rgb(58, 57, 57);

}

.card .btn{
  display: flex;
  margin-left: auto;
}

.card .btn p{
  height: 100%;
  width: 4em;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(131, 130, 130);
  font-weight: 500;
}

.btn .edit {
  margin-right: 10px;
  background-color: rgb(224, 245, 225);
  transition: all 0.5s;
}

.btn .edit:hover {
  background-color: rgb(8, 248, 80);
  color: white;
}

.btn .delete{
  background-color: rgb(245, 224, 225);
  transition: all 0.5s;
}

.btn .delete:hover {
  background-color: rgb(247, 46, 46);
  color: white;
}

/* -------------------- */
/* ------- form ------- */
/* -------------------- */

form{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  background-color: rgba(145, 143, 143, 0.055);
  border-radius: 4px;
  min-height: 15vh;
  width: 40vw;
  padding: 10px 5vw;
}

form span{
  display: inline-block;
  width: 4vw;
  color:rgb(99, 100, 100)
}

label{
  margin-bottom: 6px;
}

label input{
  height: 1.4em;
  border: 1px solid darkgray;
  border-radius: 2px;
  width: 24vw;
  padding-left: 4px;
  outline: 1px solid transparent;
  color:rgb(82, 81, 81)
}

form button{
  font-weight: bold;
  border: none;
  color: white;
  width: 13vw;
  height: 25px;
  border-radius: 50px;
  background-color: rgb(8, 248, 80);
  margin: 7px auto 0;
  transition: background-color 0.5s;
}

form button:hover {
  background-color: rgb(4, 216, 68);
}

.form-title {
  margin: 15px 0;
  color:rgb(95, 95, 95);
}

/* -------------------- */
/* ------- media ------ */
/* -------------------- */

@media (max-width: 420px){

  h2{
    font-size: 1.2em;
  }

  p{
    font-size: 0.95em;
  }

    /* ------------------------------------------ */
/*                 Nav                        */
/* ------------------------------------------ */

nav {
  padding: 0;
  height: 8vh;
  justify-content: center;
}



.nav-div *{
  margin-left: unset;
}

/* -------------------- */
/* ------- main ------- */
/* -------------------- */

.main {
  min-height: 85vh;
  padding: 10px 3vw;
}

/* -------------------- */
/* ------- card ------- */
/* -------------------- */

.card {
  height: 4em;
  width: 100%;
  display: flex;
  margin-bottom: 18px;
}

.card .img {
  width: 3px;
  margin-right: 8px;
  transition: background-color 0.5s;
}

.card-details {
  margin-right: 0;
  width: 70vw;
  overflow: hidden;
}

.card-details-title {
  display: inline-block;
  width: 60px;
  font-weight: 500;
  color: rgb(58, 57, 57);

}

.card .btn{
  display: flex;
  margin-left: auto;
  
 
}

.card .btn p{
  
  height: 80%;
  width: 3.2em;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(131, 130, 130);
  font-weight: 500;
}

.btn .edit {
  margin-top: 10%;
  margin-right: 5px;
  background-color: rgb(224, 245, 225);
  height: 80px;
}


.btn .delete{
  background-color: rgb(245, 224, 225);
  transition: all 0.5s;
  margin-top: 5%;
}

.btn .delete:hover {
  background-color: rgb(247, 46, 46);
  color: white;
}

/* -------------------- */
/* ------- form ------- */
/* -------------------- */

form{
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  background-color: rgba(145, 143, 143, 0.055);
  border-radius: 4px;
  min-height: 26vh;
  width: 100%;
  padding: 10px 5vw;
}

form span{
  display: inline-block;
  width: 15vw;
  color:rgb(99, 100, 100);
}

label{
  margin-bottom: 12px;
}

label input{
  height: 1.8em;
  border: 1px solid darkgray;
  border-radius: 2px;
  width: 65vw;
  padding-left: 4px;
  outline: 1px solid transparent;
  color:rgb(82, 81, 81)
}

form button{
  width: 50%;
  height: 28px;
  border-radius: 50px;
  background-color: rgb(8, 248, 80);
  margin: 7px auto 0;
  transition: background-color 0.5s;
}

form button:hover {
  background-color: rgb(4, 216, 68);
}

.form-title {
  margin: 12px 0;
  color:rgb(95, 95, 95);
}



}